<html>
    <header>
        <title>Simple page</title>
    </header>

    <body>
        <div id="app">
            <input type="text" v-model="number" />

            <em v-if="error" style="color:red">{{error}}</em>
            {{number}}
        </div>
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const App = {
                data() {
                    return {
                        number: null,
                        error: null,
                    };
                },
                methods: {
                },
                watch: {
                    number(value) {
                        this.error = value == "1" ? null : "Invalid value"
                    }
                }
            }

            const app = Vue.createApp(App);
            
            app.mount('#app')
        </script>
    </body>
</html>