<html>
    <header>
        <title>Simple page</title>
    </header>

    <body>
        <div id="app">
            <h1 v-text="deckName"></h1>

            <div>
                One way: <span v-html="userInput"></span>
                <input type="text" :value="userInput" />
            </div>

            <div>
                Two way: <span v-html="userInput2"></span>
                <input type="text" v-model="userInput2" />
            </div>

            
            <card @flip="flipped = !flipped" :flipped="flipped" front="Front" back="Back"></card>
            
            <!-- v-on:click="move" -->
            <button @click="move(-1)">Backward</button>
            <button @click="move(1)">Forward</button>

            <div>
                <input type="checkbox" v-model="show">Show</input>
                <!-- added/removed from DOM -->
                <span v-if="show">Some text</span>
                <!-- display:none, but still in the DOM -->
                <span v-show="show">Some text</span>
            </div>

            <div :style="[ style1, style2, { fontWeight: 'bold'} ]">
                <read-more :url="url">
                    <template v-slot:default><em>Click to read more</em></template>
                    <template v-slot:details>Detail slot</template>
                </read-more>
            </div>
            <div :style="[ style1, style2, { fontWeight: 'bold'} ]">
                <read-more url="https://hardcoded.url/read">
                    <template v-slot:details>Created: 2023-02-06</template>
                    <em v-html="linkText"></em>
                </read-more>
            </div>
            <div :style="[ style1, style2, { fontWeight: 'bold'} ]">
                <read-more url="https://hardcoded.url/read"></read-more>
            </div>
        </div>
        

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="data.js"></script>
        <script>
            const App = {
                data() {
                    return {
                        deckName: 'Simple app',
                        cards,
                        userInput: 'default',
                        userInput2: 'default',
                        flipped: false,
                        index: 0,
                        show: false,
                        url: 'https://google.com',
                        style1: {
                            'background': 'solid 1px #dddddd',
                            'border': '1px black'
                        },
                        style2: {
                            'font-size': '24px',
                        },
                        linkText: 'Link'
                    };
                },
                methods: {
                    move(direction) {
                        if (this.cards[this.index + direction]) {
                            this.index += direction;
                        }
                    }
                }
            }

            const app = Vue.createApp(App);
            
            app.component('read-more', {
                template: '<a :href="url"><slot>Default text</slot></a> <small><slot name="details">Default details</slot></small>',
                name: 'ReadMore',
                props: ['url']
            });

            app.component('card', {
                template: '<div @click="$emit(\'flip\')"> \
                                <h2 v-text="flipped ? front : back"></h2> \
                                <div v-html="flipped ? back : front"></div> \
                            </div>',
                props: ['flipped', 'front', 'back']
            });
            
            app.mount('#app')
        </script>
    </body>
</html>